/* Asignamos el css manual para cada uno de los botones */
.calc{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 330px;
    height: 500px;
    border-radius: 27px;
    background-color: rgb(47, 47, 48);
}
.calc td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #fdfdfd;
    border-radius: 25px;
    
   
}